{% extends "website/website_layout.html" %}
{% load staticfiles %}

{%block title%}| Product{%endblock%}

{%block main_containt%}

    <!-- Page Content -->
    <div class="container">

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Welcome to {{company.name}}</h2>
            </div>
            {% if company.logo %}
                <div class="col-md-6">
            {%else%}
                <div class="col-md-12">
            {% endif %}
                <p>{{company.long_description}}</p>
            </div>
            {% if company.logo %}
                <div class="col-md-6">
                    <img class="img-responsive" src="{{company.logo.url}}" style="width:700px;height:450px;margin-left:auto;margin-right:auto;">
                </div>
            {% endif %}
        </div>
        <!-- /.row -->
        <br><br><br><br>

        <!-- Marketing Icons Section -->
        <div class="row">
            {% for post in posts %}
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>{{post.title}}</h4>
                        </div>
                        <div class="panel-body">
                            <p>{{post.detail}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->



{%endblock%}
