{% extends "StockDashboard/dashboard_layout.html" %}
{% load staticfiles %}
{% block import_style%}{%endblock%}
{% block sidebar_menu%}
<li class="header">MAIN NAVIGATION</li>
{%endblock%}            
{% block content_header%}
<li class="active">Dashboard</li>
{%endblock%}
{% block main_content%}

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Monthly Recap Report</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- ./box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->
</div><!-- /.row -->

{%endblock%}
{% block import_scripts%}{%endblock%}