{% extends "StockDashboard/dashboard_layout.html" %}
{% load staticfiles %}
{% block import_style%}{%endblock%}
{% block sidebar_menu%}
{%endblock%}            
{% block content_header%}
{%endblock%}
{% block main_content%}

<div class="row">
  <div class="col-md-12">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Availble Quantity</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">
            {% for category in companyAvailableQuantity%}
              <div class="col-md-3">
                <div class="box-body table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <tr>
                      <th colspan="3" class="text-center"">{{category.category_name}}</th>
                    </tr>
                    <tr>
                      <th>Product</th>
                      <th>Quantity</th>
                    </tr>
                    {% for product in category.products%}
                    <tr>
                      <td>{{product.product_name}}</td>
                      <td>{{product.quantity}}</td>
                    {% endfor %}
                    </tr>
                  </table>
                </div>            
              </div><!-- /.col -->
            {% endfor %}
        </div><!-- /.row -->
      </div><!-- ./box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->
  
  <div class="col-md-12">
    <div class="box box-danger">
      <div class="box-header with-border">
        <h3 class="box-title"></h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-12" style="direction:ltr;">
              <div id="salesPerDayChart" style="margin: 0 auto;padding:10px;"></div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- ./box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->

  <div class="col-md-6">
    <div class="box box-warning">
      <div class="box-header with-border">
        <h3 class="box-title"></h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-12" style="direction:ltr;">
              <div id="soldQuantityLastMonthChart" style="margin: 0 auto;padding:10px;"></div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- ./box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->

  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title"></h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-12" style="direction:ltr;">
              <div id="soldQuantityThisMonthChart" style="margin: 0 auto;padding:10px;"></div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- ./box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->




</div><!-- /.row -->


{%endblock%}
{% block import_scripts%}

<script type="text/javascript">
    var reverse = null;
    if ('{{language_code}}' == 'ar')
    {
      reverse = true;
    }
    draw_chart('#salesPerDayChart',{{salesPerDayChart|safe}},'spline',null,2,reverse)
    draw_chart_with_Drilldown('#soldQuantityThisMonthChart',{{soldQuantityThisMonthChart|safe}},0,reverse);
    draw_chart_with_Drilldown('#soldQuantityLastMonthChart',{{soldQuantityLastMonthChart|safe}},0,reverse);

    salesPerDayChart
</script>
{%endblock%}